<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="thumbnail">
        <div class="caption regist">
            <%= simple_form_for user ,:url => {:action => :create}, :html => { :class => 'form-horizontal' } do |f| %>
            <div class="form">
                <p><%= f.input :u_name %></p>
                <p><%= f.input :age %></p>
                <p><%= f.button :submit, "submit", :class=>"btn btn-info btn-sm" %></p>
            </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
